.subscriber {
  position: relative;
  width: 25rem;
  height: 30rem;
  margin: 1rem;
  perspective: 150rem;

  .side {
    position: absolute;
    top: 0;
    left: 0;
    width: 25rem;
    height: 30rem;
    border-radius: 0.5rem;
    box-shadow: 0 1.5rem 4rem rgba(#000, 0.3);

    backface-visibility: hidden;
    transition: all 1.5s ease;

    &.front {
      color: var(--color-text-dark);
      background-image: linear-gradient(to bottom, #29292975, #616161, #ffffff);
      border: 0.4rem solid black;

      h3 {
        color: white;
        display: flex;
        justify-content: center;
        font-weight: 200;
      }

      .content {
        color: white;
        text-align: center;
        height: 80%;

        header {
          font-size: 2em;
          background-image: linear-gradient(
            90deg,
            #f79533,
            #f37055 15%,
            #ef4e7b 30%,
            #b1f9b0 44%,
            #ccddff 58%,
            #ffbf10 72%,
            #fffb09 86%,
            #42fe1c
          );
          background-size: cover;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        main {
          height: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    &.back {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      transform: rotateY(180deg);
      background-image: var(--orange-gradient);
    }
  }

  &:hover .side.front {
    cursor: pointer;
    transform: rotateY(-180deg);
  }

  &:hover .side.back {
    transform: rotateY(0);
  }
}
